@font-face {
    font-family: 'Cedar';
    src: url('./fonts/CedarvilleCursive-Regular.ttf');
}

@font-face {
    font-family: 'Nordic';
    src: url('./fonts/NORDIC\ LIGHT.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Black.ttf');
}

@font-face {
    font-family: 'Roboto-thin';
    src: url('./fonts/Roboto-Thin.ttf');
}

body {
    margin: 0;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    padding-top: 10px;
    padding-bottom: 15px;
    align-items: center;
    box-shadow: 0px 3px 5px rgb(148, 147, 147);
}

h1 {
    font-size: 40px;
    font-family: 'Nordic';
    margin: 20px 0px 10px 20%;
    letter-spacing: 3px;
    width: fit-content;
}

nav {
    margin-left: 20%;
    display: flex;
    justify-content: space-between;
}

.navbutton-wrapper {
    display: flex;
    gap: 10px;
}

.button-nav {
    border: none;
    background-color: transparent;
    font-size: 20px;
    font-family: 'Roboto';
    letter-spacing: 1.3px;
    margin-left: -5px;
}

.searchbar-wrapper {
    margin-right: 20%;
    margin-top: -2.5%;
}

.searchbar-wrapper > input {
    height: 30px;
    border: none;
    box-shadow: 0px -3px rgb(0, 0, 0) inset;
    font-family: 'Roboto-thin';
    font-size: 17px;
    font-weight: bold;
    width: 200px;
    padding: 0;
    letter-spacing: 1px;
}

.main {
    flex: auto;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}

.footer {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    background-color: black;
    color: whitesmoke;
    font-family: 'Nordic';
    letter-spacing: 2px;
    font-size: 17px;
}

.github-icon {
    height: 25px;
}

footer > p {
    cursor: default;
}

/*Homepage*/


.feast-image {
    height: 500px;
    width: 100%;
}

.subheader-wrapper {
    display: flex;
    padding: 50px;
}

h2 {
    font-family: 'Cedar';
    font-size: 40px;
    margin: 0;
    margin-top: -10px;
}

.subheader-one-wrapper {
    width: 400px;
    padding: 90px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 2px solid gray;
    box-shadow: 3px 3px 3px gray;
    margin-left: 30px;
}

.subheader-one-content {
    font-size: 20px;
    width: 510px;
    margin: 0;
}

/*Pseudo-Selectors*/

h1:hover,
.button-nav:hover {
    cursor: pointer;
    text-decoration: underline;
}

.button-nav:hover {
    font-weight: bold;
}

.searchbar-wrapper > input:focus {
    outline: none;
}

.searchbar-wrapper > input:focus::placeholder {
    color: transparent;
}

.github-icon:hover {
    opacity: 80%;
}


