@font-face {
    font-family: 'Cedar';
    src: url('./fonts/CedarvilleCursive-Regular.ttf');
}

@font-face {
    font-family: 'Nordic';
    src: url('./fonts/NORDIC\ LIGHT.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Black.ttf');
}

@font-face {
    font-family: 'Roboto-thin';
    src: url('./fonts/Roboto-Thin.ttf');
}

@font-face {
    font-family: 'Bochan';
    src: url('./fonts/Bochan-Ea3Ge.otf');
}

body {
    margin: 0;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    padding-top: 10px;
    padding-bottom: 15px;
    align-items: center;
    box-shadow: 0px 3px 5px rgb(148, 147, 147);
}

.site-name-wrapper {
    margin: 0px 0px 0px 16%;
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
}

.site-name-image {
    height: 50px;
}

h1 {
    font-size: 40px;
    font-family: 'Nordic';
    letter-spacing: 3px;
}

nav {
    margin-left: 20%;
    display: flex;
    justify-content: space-between;
}

.navbutton-wrapper {
    display: flex;
    gap: 10px;
}

.button-nav {
    border: none;
    background-color: transparent;
    font-size: 20px;
    font-family: 'Roboto';
    letter-spacing: 1.3px;
    margin-left: -5px;
}

.searchbar-wrapper {
    margin-right: 20%;
    margin-top: -2.5%;
}

.searchbar-wrapper > input {
    height: 30px;
    border: none;
    box-shadow: 0px -3px rgb(0, 0, 0) inset;
    font-family: 'Roboto-thin';
    font-size: 17px;
    font-weight: bold;
    width: 200px;
    padding: 0;
    letter-spacing: 1px;
}

.main {
    flex: auto;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.footer {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    background-color: black;
    color: whitesmoke;
    font-family: 'Nordic';
    letter-spacing: 2px;
    font-size: 17px;
}

.github-icon {
    height: 25px;
}

footer > p {
    cursor: default;
}

/*Homepage*/

.home {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.subheader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 100%;
    background-image: url('./images/feast.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.motto-wrapper {
    height: 300px;
    padding-right: 45px;
    padding-left: 45px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 2px solid black;
    background-color: whitesmoke;
    opacity: 90%;
}

.motto-wrapper > h2 {
    font-family: 'Nordic';
    font-size: 33px;
    letter-spacing: 2px;
    margin: 0;
    margin-top: -10px;
    cursor: default;
}

.motto-content {
    font-family: 'Roboto-thin';
    font-size: 20px;
    font-weight: bold;
    width: 510px;
    margin-bottom: -30px;
    cursor: default;
}

.today-wrapper {
    display: flex;
    justify-content: center;
    cursor: default;
}

.today-wrapper > h2 {
    font-family: 'Nordic';
    font-size: 35px;
    letter-spacing: 4px;
    margin-top: 50px;
}

.today-recipe-wrapper {
    display: flex;
    padding: 30px;
    text-align: center;
}

.special-wrapper {
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.today-card {
    box-shadow: 3px 3px 5px gray;
    padding: 30px; 
    border-radius: 5px;
    margin-left: 10%;
}

.today-card > img {
    height: 300px;  
    border-radius: 5px;
}

.today-card > div {
    font-family: 'Roboto';
    font-size: 20px;
}

.description-wrapper {
    width: 400px;
    font-family: 'Roboto';
    font-size: 45px;
    margin-right: 10%;
}

.description-wrapper > img {
    margin-top: 10px;
}

.today-card,
.recipe-content-wrapper {
    box-shadow: 3px 3px 5px gray;
    padding: 30px; 
    border-radius: 5px;
}

/*Individual recipe pages*/

.wrapper {
    display: flex;
    flex-direction: column;
}

.recipe-header {
    text-align: center;
    padding: 30px;
    margin: 0;
    font-family: 'Nordic';
    font-size: 30px;
    letter-spacing: 1px;
}

.recipe-subwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 110px;
}

.recipe-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: fit-content;
}

.ingredients-header,
.instructions-header {
    text-align: center;
    font-family: 'Roboto';
    font-size: 20px;
}

.ingredients-grid,
.instructions-grid {
    font-family: 'Roboto-thin';
    font-weight: bold;
}

ol {
    padding: 0;
    width: 500px;
}

.recipe-image {
    width: 40%;
    border-radius: 15px;
}


/*Pseudo-Selectors*/

.site-name-wrapper:hover,
.button-nav:hover {
    cursor: pointer;
    text-decoration: underline;
}

.button-nav:hover {
    font-weight: bold;
}

.searchbar-wrapper > input:focus {
    outline: none;
}

.searchbar-wrapper > input:focus::placeholder {
    opacity: 40%;
}

.today-card:hover {
    text-decoration: underline;
    cursor: pointer;
    box-shadow: 5px 5px 7px rgb(107, 107, 107);
}

.github-icon:hover {
    opacity: 80%;
}


