@font-face {
    font-family: 'Cedar';
    src: url('./fonts/CedarvilleCursive-Regular.ttf');
}

@font-face {
    font-family: 'Nordic';
    src: url('./fonts/NORDIC\ LIGHT.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Black.ttf');
}

body {
    margin: 0;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    font-size: 24px;
    font-family: 'Nordic';
    padding: 0;
    background-color: rgb(153, 3, 3);
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    margin: 20px 0px 20px 50px;
    letter-spacing: 3px;
}

nav {
    margin-top: 10px;
    margin-right: 50px;
    display: flex;
    gap: 15px;
}

.button-nav {
    border: none;
    background-color: transparent;
    font-size: 25px;
    font-family: 'Nordic';
    color: whitesmoke;
    letter-spacing: 1.3px;
}

.main {
    box-shadow: -3px 0px 6px gray inset;
    flex: auto;
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    background-color: black;
    color: whitesmoke;
    font-family: 'Nordic';
    letter-spacing: 2px;
    font-size: 17px;
}

.github-icon {
    height: 25px;
}

/*Pseudo-Selectors*/

.button-nav:hover {
    text-decoration: underline;
    cursor: pointer;
}